@import "./styles/variables";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg !important;
  height: 100vh;
}

$theme-colors: ("primary": $primary, "bg-secondary": $bg-secondary,
  "secondary": $secondary);

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";